 body {
    margin:0;
    font-family: "Roboto";
    background: linear-gradient(to right, rgba(115, 222, 230, 0.603), rgba(71, 166, 230, 0.644), rgba(41, 127, 185, 0.822)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }

 h1 {
     background-color: #2980B9;
     color: white;
     padding: 10px 20px;
     margin:0;
     text-transform: uppercase;
     font-size: 24px;
     font-weight: normal;
 }



 ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }

 li {
     background-color: white;
     height: 40px;
     line-height: 40px;
     color: #666;
 }


 span {
    background-color: #E74C3C;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}



 input {
    width:100%; 
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    color: #2980B9;
}


.fa-plus{
    padding-top: 3px;
    float: right;
    
}

.fa-plus:hover{
    color:rgb(151, 255, 224);   
}

h1 .fa-star {
    margin-left: 130px;
    font-size: 22px;
    display: inline-block;
}

h1 .fa-star:hover {
    color:rgb(151, 255, 224);
}

li .fa-star{
    float: right;
    margin-right: 8px;
    padding-top: 11px;
}

li .fa-star:hover{
        color: rgb(109, 226, 255);
}

.favor {
    color: rgb(109, 226, 255);
}
.fa-info-circle {
    padding: 10px 10px 10px 17px;
    font-size: 30px;
    color: #2980B9;
}

.fa-info-circle:hover {
    color:rgb(224, 0, 112,0.5);
}

 li:nth-child(2n) {
    background-color: #F7F7F7;
 }



li:hover span{
    width: 40px;
    opacity: 1.0;
}

 input:focus {
    background-color: white;
    border: 3px solid #2980B9;
    outline: none;
 }
 
 #container {
     background-color:#F7F7F7;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
     width: 360px;
     margin:100px auto;
 }

 .completed {
     color: gray;
     text-decoration: line-through;
 }
